body {
	font-family: 'PT Serif', serif;
	font-size: 10pt;
	line-height: 1.6em;
	position: relative;
}

.title-text {
	font-family: Dosis, sans-serif;
	font-weight: 200;
	font-size: 20pt;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #000000;
}

.subhead {
	font-family: Dosis, sans-serif;
	font-weight: 400;
	font-size: 16pt;
	letter-spacing: 0.05em;
	line-height: 1.3em;
	text-transform: none;
	color: #000000;
}

.profilepic {
	border-radius: 50%;
	width:260px;
	height: 260px;
	float: left;
}

.aboutmecopy {
	text-align: left;
}

.navbar-nav {
	padding-top: 40px;
	float: right;
}

.navbar-nav>li>a {
	padding-bottom: 30px;
}

.navbar-brand {
	padding-top: 20px;
}

.navbar-default {
	background-image: none;
	background-color: #ffffff;
	border-color: #ffffff;
	box-shadow: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
	background-image: none;
	-webkit-box-shadow: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #ffffff;
	text-decoration: underline;
}

.nav-text {
	font-family: Dosis, sans-serif;
	font-size: 10pt;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.intro-section {
	padding-top: 50px;
}

.carousel {
	height: 100%;
	width: 100%;
  	overflow: hidden;
  	position: relative;
}

#about {
	background: #ffffff;
}

.about-section {
	position: relative;
}

.work-section {
	text-align: center;
}

.portfolio {
	padding: 5px;
	text-align: center;
}

.modal {
	background-color: #fff;
	text-align: center;
	padding-top: 100px;
	margin-left: auto;
    margin-right: auto;
}

.modal-title {
	font-family: Dosis, sans-serif;
	font-weight: 200;
	font-size: 24pt;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000000;
}

.modal-subhead {
	font-family: 'PT Serif', serif;
	font-size: 13pt;
	letter-spacing: 0em;
	text-transform: none;
	color: #999999;
}

.modal-images {
	margin-left: auto;
    margin-right: auto;
	padding: 30px;
}

.modal-project-desc {
	margin-left: auto;
    margin-right: auto;
    width: 600px;
}

.close {
    margin-right: 10px;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    font-size: 8pt;
    font-family: Dosis, sans-serif;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.thumb-description {
    position: absolute;
    width: 100%;
    background: #fff;
	opacity:0.9;
    padding: 10px;
    bottom: 0px;
    color: #000;
    font-size: 8pt;
    font-family: dosis, sans-serif;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.services-text {
	font-family: Dosis, sans-serif;
	font-weight: 200;
	font-size: 13pt;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000000;
}

.services-copy {
	text-align: justify;
}

.services-block {
	padding: 40px;
}


.contact-text {
	font-family: Dosis, sans-serif;
	font-weight: 200;
	font-size: 20pt;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #000000;
	text-align: left;
}

.footer-text {
	font-family: Dosis, sans-serif;
	font-size: 7pt;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	text-align: center;
	color: #ffffff;
}

#footer {
	padding-top: 10px;
	padding-bottom: 10px;
}

.instagram {
	padding-bottom: 50px;
	padding-top: 50px;
}

.socialmedia {
	background-color: #000000;
	padding: 20px;
}

.yellowstripes {
  top: -33px;
  position: relative;
  height: 16px;
  width: 80px;
}