body {
	font-family: 'PT Serif', serif;
	font-size: 10pt;
	line-height: 1.6em;
}

.title-text {
	font-family: Dosis, sans-serif;
	font-weight: 200;
	font-size: 20pt;
	letter-spacing: 0.5em;
	text-transform: uppercase;
	color: #000000;
}

.services-text {
	font-family: Dosis, sans-serif;
	font-weight: 200;
	font-size: 13pt;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000000;
}

.navbar-nav {
	padding-top: 40px;
	float: right;
}

.navbar-nav>li>a {
	padding-bottom: 30px;
}

.navbar-brand {
	padding-top: 40px;
}

.navbar-default {
	background-image: none;
	background-color: #ffffff;
	border-color: #ffffff;
	box-shadow: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
	background-image: none;
	-webkit-box-shadow: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	background-color: #ffffff;
	text-decoration: underline;
}

.nav-text {
	font-family: Dosis, sans-serif;
	font-size: 10pt;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.introduction {
	padding-top: 50px;
}

.intro-section {
	padding-top: 50px;
}

.carousel {
	height: 500px;
	width: 100%;
  	overflow: hidden;
  	position: relative;
}

#contact {
	background: #ffffff;
}

#about {
	background: #ffffff;
}

.about-section {
	padding-top: 50px;
}

.work-section {
	padding-top: 50px;
	text-align: center;
}

.portfolio {
	padding: 5px;
	text-align: center;
}

